body {
    font-family: 'Arial Narrow', Arial,'Franklin Gothic Medium', sans-serif;
    background-color: #fff;
    background-image: url(hatter3.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    border: 15px solid #0170c1;
    border-radius: 8px;
}

div {
    margin: 10px 20px 10px;
    width: auto;
}

p {
    text-align:justify;
    font-size: 18px;
    padding-right: 100px;
    padding-left: 100px;
}

dt {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

dd {
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 300%;
}

h3 {
    text-align: center;
    font-size: 150%;
    font-style: italic;
}

a:link {
    color: black;
    font-size: 18px;
    text-decoration: none;   
}

a:visited {
    color: black;
    font-size: 18px;
    text-decoration: underline;
}

a:hover {
    color:#0170c1;
    transition-duration: 1.2s;
}

div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div ul li {
    display: inline-block;
    margin: 25px 100px;
    padding: 10px;
    border: 2px solid rgb(24, 24, 24);
    background-color: rgba(255, 255, 255, 0.308);
}

div ul li:hover {
    background-color: white;
    transition-duration: 0.3s;
}

div ul li a:hover {
    transition-duration: 0.6s;
    color: rgb(238, 36, 36);
}

table a:hover {
    color: white;
}

table {
    text-align: center;
    width: 40%;
    font-size: 19px;
    background-color: rgba(0,0,0,0.12);
    font-weight: 520;
}

table, table th, td {
    padding: 5px;
    border: 2px solid rgb(24, 24, 24);
    border-collapse: collapse;
}
table td:hover {
    background-color: rgb(238, 36, 36);
}

img {
    padding: 80px 60px;
}

.listaelem {
    font-size: 24px;
}

.husz {
    text-align: center;
    font-size: 19px;
}

.kozepre {
    text-align: center;
    font-weight: bold;
}

.kiemel{
    background-color: rgba(255, 255, 255, 0.322);
}  


